@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/athena');

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
    background:linear-gradient(to right,blueviolet 40%,blue 50%);}

.menu_bar {
	display:none;
}

header {
	width: 100%;
}

header nav {
	z-index:1000;
	max-width: 1000px;
	width:95%;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:blue;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:blueviolet;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:rgb(209, 13, 235);
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}

/** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
}


/** Img header **/
.img-header{
    background-image: url(/img/banner\ programacion.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height:100vh;
}
.img-header .welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h4{
    color: #ffff;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.img-header .welcome > h2{margin-top: 50px;}
.img-header .welcome > h2 a{
    text-decoration: none;
    color:#fff;
    font-size: 50px;
    font-weight: 400;
}
.img-header .welcome > h2 a > i{color:#f8b30e; margin-right: 10px;}


/** About Us **/
.about-us{width: 100%;}
.about-us .info{
    width: 100%;
    margin-top: 100px;
}
.about-us .info h3{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-weight: 900;
}
.about-us .info p {
   width: 80%;
   margin:50px auto;
   text-align: center;
   color:#000;
   font-size: 22px;
   line-height: 40px;
   font-weight: 800;
}
.about-us .info hr{
    width: 90%;
    border:none;
    height: 2px;
    background: #4d4d4d;
    margin:auto;
}
.about-us .free-content{
    width: 100%;
    margin-top: 100px;
    background: white;
    padding:30px;
}
.about-us .free-content h4{
    text-align: center;
    font-size: 40px;
    font-weight: 900%;
    color:black;
}
.about-us .free-content .icons{
    width: 90%;
    margin:30px auto;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div{width: 100%; margin:0px 30px;}
.about-us .free-content .icons > div > .span-icon{
    width:100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div h6{
    font-size: 25px;
    color:black;
    text-align: center;
    font-weight:800%;
    margin:20px 0px 5px 0px;
}

.nombre-central {
    margin-top: 15px;
    text-align: center;
    font-family: 'Athena', sans-serif;                                                                                     
    color: white;
    font-size: 50px; 
    text-shadow: 20px 15px 7px rgb(10, 2, 56);
}

/** Footer **/
footer {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 5px;
    margin-top: 5px;
}

footer p {
    font-size: 20px;
    font-weight: 900px;
    display: flex;
    background: rgb(65, 65, 247);
    border-radius: 10px;
    border:3px solid blueviolet;
    padding: 2px;
}

